discord.py>=1.1.1
aiohttp>=3.6.0,<3.7.0
websockets>=6.0,!=7.0,!=8.0,!=8.0.1,<9.0
google-cloud-error-reporting>=0.33.0
google-cloud-logging>=1.15.0
google-cloud-firestore>=1.9.0
google-assistant-sdk[samples]
pytz>=2019.2
dblpy>=0.3.3
stripe>=2.49.0